*{
    padding:0;
    margin:0;
    font-family: Arial;
    box-sizing:border-box;
}

.Bottom{
    display:none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  100% {
    transform: rotate(360deg); /* End at 360 degrees, completing one full rotation */
  }
}
@media screen and (max-width:1020px){
     .outlet{
        background-color:white;
     }
     .outlet.dark{
         transition: background-color 0.3s ease-in-out;
         background-color:black;
        
     }
    .Bottom{
        display:flex;
        justify-content:space-around;
    }
}

